@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.container {
  font-size: 22px;
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  width: 710px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url('../../../public/components/bgcrace.png'); */
  background-size: cover;
}
.start_game {
  background-image: url('/bgcrace_start.png');
  background-size: cover;
}

.game_btn,
.gas_btn,
.new_game_btn {
  height: 50px;
  width: 187px;
  background-image: url('/bgcrace_game_btn.png');
  background-size: cover;
}
/* .start_game:hover,
.game_btn:hover,
.gas_btn:hover,
.new_game_btn:hover {
  border-color: #ffffff;
} */
.raceTruck1 {
  font-size: 30px;
}
.new_game_btn {
  margin-bottom: 30px;
}
.gas_btn {
  margin-top: 40px;
}

.text_typing {
  width: 30em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 2.5s steps(50, end);
  animation: type 2.5s steps(50, end);
}

@keyframes type {
  from {
    width: 0;
  }
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}
